Client/Connected Services/CowService/CowService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61151/CowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RSI.Model" />
  <xs:import schemaLocation="http://localhost:61151/CowService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RSI" />
  <xs:element name="GetAllCows">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RSI.Model" minOccurs="0" name="GetAllCowsResult" nillable="true" type="q1:ArrayOfCow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCowInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCowInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RSI.Model" minOccurs="0" name="GetCowInfoResult" nillable="true" type="q2:Cow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RSI" minOccurs="0" name="cowBreed" type="q3:CowBreed" />
        <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateOfCalving" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tagNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RSI" minOccurs="0" name="cowBreed" type="q4:CowBreed" />
        <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateOfCalving" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tagNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCowsNearToCalving">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCowsNearToCalvingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RSI.Model" minOccurs="0" name="GetCowsNearToCalvingResult" nillable="true" type="q5:ArrayOfCow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCowsNearToDryOff">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCowsNearToDryOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RSI.Model" minOccurs="0" name="GetCowsNearToDryOffResult" nillable="true" type="q6:ArrayOfCow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>